* {
    padding: 0;
    margin: 0;
}
:root{
    --cor-fundo: #d1c2f3;
    --cor-fonte: blue;
    --cor-hover: rgb(214, 162, 245);
    --cor-clara-fundo:rgb(226, 195, 245);

}
a{
    text-decoration: none;
}
ul {    width: 100%;
    height: 60px;
}

.header {
  background-color:var(--cor-fundo);
  position: sticky;
  top: 0;
  width: 100%;
}
.logo{
    display: inline;
    background: var(--cor-fundo);

}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--cor-fundo);
    overflow: hidden;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--cor-fonte);   
}
.menu a:hover{
 background-color: var(--cor-hover);

}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float:right;
    padding: 35px 20px;
}
.hamb-line{
    background-color: var(--cor-fonte);
    display: block;
    height: 2px;
    position:relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after{
    background-color: var(--cor-fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px    ;
}
.hamb-line::after{
    top: -5px;
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after{
    transform: rotate(45deg);
    top: 0;
}
#logo {
    width: 200px;
}
.conteudo {
    width: 100%;
    background-color:  rgb(202, 149, 202);
}
.conteudo-info{
    display: flex;
}
.img-info{
    display: none;
}
.texto-info{
    padding: 0%;
}

.rodape {
    background-color:  #d1c2f3;
    width: 100%;
    text-align: center;
}
.info-cinema {
    width: 100%;
    background-color:#BE9DDF;
}
.info-filme {
    width: 100%;
    background-color:  rgb(202, 149, 202);
}
.info-filme-retro {
    width: 100%;
    background-color: #BE9DDF;
}
.info-destaque {
    width: 100%;
    background-color:  rgb(202, 149, 202);
}
.img-estilo {
    width: 100%;
}
.info{
    width: 100vw;
    display: grid;

}

div[class^="item-"]{
background-color: var(--cor-clara-fundo);
padding: 2px;
width: calc(100vw - 4px);
height: 50vh;
margin: 2px;
grid-area: "item";
}

@media screen and (min-width: 820px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }
    .menu a:hover {
        background-color: transparent;
    }
    .hamb {
        display: none;
    }
    .img-info{
        display: block;
        
    }
    .info{
        grid-template-columns: 50% 50%;
        grid-template-areas: "item" "item";
    }
 }
 @media screen and (min-width: 1024px) {
    .info{
        grid-template-columns: 33% 34% 33%;
        grid-template-areas: "item" "item" "item";
    }
    
 }
